body {
  font-family: 'LatoLatin';
  min-height: 700px;
}
.nn-nav > li > a {
  font-size: 14pt;
}
.nn-index-info {
  margin-top: 15px;
}
.nn-index button {
  margin-top: 10px;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nn-index .carousel {
  border: 3px solid rgba(147, 161, 52, 0.52);
}
.navbar-collapse {
  padding: 0;
}
.nn-nav {
  width: 100%;
}
.nn-nav a {
  color: white;
  font-family: 'LatoLatinLight';
  font-size: 25px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .nn-nav > li {
    width: 14.28571429%;
    text-align: center;
  }
}
.nn-nav .nn-logo {
  font-size: 20px;
}
.nn-nav li:nth-child(3n + 0) {
  background: #5386bb;
}
.nn-nav li:nth-child(3n + 1) {
  background: #f8ba12;
}
.nn-nav li:nth-child(3n + 2) {
  background: #83b330;
}
.activity {
  height: 300px;
  border-top: 1px solid #8da34e;
  border-left: 1px solid #8da34e;
}
/* standard type of trick to get equal width border */
.activity:nth-child(2n) {
  border-right: 1px solid #8da34e;
}
.nn-navbar-header {
  background: #cbdd93;
}
.container .row {
  padding-top: 15px;
  padding-bottom: 15px;
}
.activities .row {
  border-bottom: 1px solid #8da34e;
  padding-bottom: 0;
  margin-bottom: 30px;
}
.observation {
  height: 200px;
  border: 1px solid #8da34e;
  text-align: center;
}
.observation .tree::before {
  font-size: 130pt;
}
.design-idea {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 70px;
}
.activity-info {
  margin: 15px;
}
.activity-picture {
  width: 200px;
  margin-top: 15px;
  margin-right: 10px;
  height: 200px;
  float: left;
  position: relative;
}
.activity-thumb {
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  padding-right: 60px;
}
.designs.container .fa-thumbs-o-up {
  color: #777;
  cursor: pointer;
}
.designs.container .fa-thumbs-o-up:hover {
  color: black;
}
.designs.container .design-idea {
  opacity: 0.5;
}
.designs.container .design-idea:hover {
  opacity: 1;
}
.triangle-top {
  height: 0;
  width: 0;
  border: 100px solid transparent;
  border-top: 100px solid #cbdd93;
  border-bottom: 100px solid #cbdd93;
}
.triangle-top-small {
  height: 0;
  width: 0;
  border: 25px solid #ddd;
  border-top: 25px solid grey;
  border-bottom: 25px solid grey;
}
