<!-- ExploreController as vm -->

<style>
  .toggled-map {
    width: calc(100% - 70px);
    margin-left: -250px;
  }

  .untoggled-map {
    width: calc(100% + 250px);
    margin-left: -250px;
  }

  .custom-pin {
    height: 25px;
    line-height: .25;
    width: 55px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    color: white;
    background: #354a5f;
    position: absolute;
    border-radius: 25px;
    border: 3px solid #4db26a;
    font-size: 1em;
    font-weight: bold;
  }

  .custom-pin::after {
    position: absolute;
    top: 99%;
    left: calc(50% - .5em);
  }

  .custom-pin:hover {
    transform: scale(1.15);
  }
</style>

<div id="wrapper" ng-class="{toggled:vm.isDrawerVisible}">

  <!-- Sidebar -->
  <div width="" id="sidebar-wrapper">

    <div style="width:100%;" class="sidebar sidebar--projects">

      <header class="sidebar__header">
        <div class="nn-dropdown nn-dropdown--explore" ng-class="{ 'nn-dropdown--show-list': !!vm.isObservationsListVisible }">

          <div class="nn-dropdown__display">
            <span>Observations</span>
            <a class="small-device drawer-icon btn btn-primary" ng-click="vm.updateDrawer()" id="menu-toggle"><i ng-class="{'fa-arrow-right':!vm.isDrawerVisible, 'fa-arrow-left':vm.isDrawerVisible}" class="fa"></i></a>
          </div>

          <div class="nn-dropdown__options">

            <div class="nn-dropdown__option">
              <form>
                <input class="form-control" type="text" placeholder="search" ng-model="vm.query">
              </form>
            </div>

            <div class="list-item" ng-repeat="o in filtered = (vm.observations | filter: {data: {text: vm.query} } | orderBy: '-updated_at' ) | limitTo: vm.limit" ng-click="vm.showSidebar(o)">
              <nn-image class="list-item__image" image-url="{{o.data.image | img_preview}}">
              </nn-image>
              <div class="list-item__detail">
                <nn-comment class="nn-badge list-item__comment" limit="80" name="{{$root.users[o.observer].display_name}}" date="{{o.updated_at}}" avatar-url="{{$root.users[o.observer].avatar}}" comment="{{o.data.text}}">
                </nn-comment>
                <nn-social-totals class="totals detail__totals" data="o" context="observations" show-dislikes="false"></nn-social-totals>
              </div>
            </div>
            <div style="padding-top:15px;" ng-if="filtered.length > vm.limit">
              <a style="color:white;" href="#" ng-click="vm.limit=vm.limit+5">Show More</a>
            </div>

          </div>

        </div>
      </header>

    </div>
  </div>

  <!-- Content -->
  <div id="page-content-wrapper" style="position:absolute;" class="clearfix">
    <a style="transform: translateX(0px); z-index:1000; top:50px; position:absolute;" ng-click="vm.updateDrawer()" class="btn btn-primary" id="menu-toggle"><i ng-class="{'fa-arrow-right':!vm.isDrawerVisible, 'fa-arrow-left':vm.isDrawerVisible}" class="fa"></i></a>

    <div class="page-map ng-scope has-map" ng-class="{'toggled-map': vm.isDrawerVisible, 'untoggled-map':!vm.isDrawerVisible}">

      <ng-map style="height: 100% !important;" class="map ng-scope has-sidebar" default-style="true" center="United States of America" on-idle="vm.onMapMoved()">

        <info-window id="bar" max-width="200">
          <div ng-non-bindable>
            <div id="siteNotice"></div>

            <div ng-click="vm.openDetails()" style="cursor: pointer; padding-left:20px;" id="bodyContent">
              <h1 style="padding: 20px 0 5px 0; font-size:2em;" id="firstHeading" class="firstHeading">
                  {{$root.users[vm.currentObservation.observer].display_name}}
                </h1>
                <h3 style="color: slate; padding: 0px 0 10px 0;">{{vm.currentProject.name}}</h3>
              <img style="width:200px; height:200px" src="{{vm.currentObservation.data.image}}" />
              <p ng-show="vm.currentObservation.where" style="margin-top:10px;"><i class="fa fa-map-marker"></i> {{vm.currentObservation.where}}</p>
              <p ng-if="vm.currentObservation.data.text" ng-bind-html="vm.currentObservation.data.text" hashtagify term-click="vm.search($event); $event.stopPropagation();" style="margin:10px 0 10px 0;"></p>
              <nn-social-totals class="totals detail__totals" data="vm.currentObservation" context="observations" show-dislikes="false"></nn-social-totals>

            </div>
          </div>
        </info-window>

      </ng-map>
    </div>
  </div>
</div>

<div ng-if="vm.currentObservation && vm.showDetail">
  <nn-observation-modal editable="vm.currentObservation.observer === $root.currentUser || $root.userRank === 'admin'" observation="vm.currentObservation" avatar-url="{{$root.users[vm.currentObservation.observer].avatar}}" comments="vm.comments" show="vm.showDetail"></nn-observation-modal>
</div>
