<!-- ExploreController as vm -->

<ng-map
  nn-map-contain
  class="map"
  default-style="false"
  center="United States of America"
  on-idle="vm.onMapMoved()"
  ng-class="{'has-sidebar': !!vm.hasSidebar}">

  <div class="main main--with-sidebar main--explore" ng-if="!!vm.currentObservation && vm.showDetail">
    <nn-observation-modal observation="vm.currentObservation" comments="vm.comments" show="vm.showDetail"></nn-observation-modal>
  </div>

  <div class="sidebar sidebar--map-list">
    
    <header class="sidebar__header">
      <div class="nn-dropdown nn-dropdown--explore"
        ng-class="{ 'nn-dropdown--show-list': !!vm.isObservationsListVisible }">

        <div class="nn-dropdown__display"
          ng-click="vm.isObservationsListVisible = !vm.isObservationsListVisible">
          <span>Observations</span>
          <div class="nn-dropdown__action"></div>
        </div>

        <div class="nn-dropdown__options">

          <div class="list-item" ng-repeat="o in vm.observations | orderBy: '-updated_at' | filter:{ status : '!deleted' }" ng-click="vm.showSidebar(o)">
            <nn-image class="list-item__image" image-url="{{o.data.image | img_preview}}">
            </nn-image>
            <div class="list-item__detail">
              <nn-comment class="nn-badge list-item__comment"
                limit="80"
                name="{{$root.users[o.observer].display_name}}"
                date="{{o.updated_at}}"
                avatar-url="{{$root.users[o.observer].avatar}}"
                comment="{{o.data.text}}">
              </nn-comment>
              <nn-social-totals class="totals" data="o"></nn-social-totals>
            </div>
          </div>

        </div>

      </div>
    </header>
    
  </div>





  <div ng-if="!!vm.currentObservation" class="sidebar sidebar--slide sidebar--map-detail">

    <header class="sidebar__header">
      <nn-badge class="nn-badge sidebar__user"
        title="{{$root.users[vm.currentObservation.observer].display_name}}"
        subtitle="{{vm.formatDate(vm.currentObservation.updated_at)}}"
        avatar-url="{{$root.users[vm.currentObservation.observer].avatar}}">
      </nn-badge>
      <a class="sidebar__close" href="#" ng-click="vm.hideSidebar()"></a>
    </header>

    <nn-observation
      observation="vm.currentObservation"
      editable="vm.currentObservation.observer === $root.currentUser || $root.userRank === 'admin'">
    </nn-observation>

    <section class="sidebar__comments">
      <nn-comment class="comment list-item__comment" ng-repeat="c in vm.comments | orderBy: 'updated_at'"
        name="{{$root.users[c.commenter].display_name}}"
        date="{{c.updated_at}}"
        avatar-url="{{$root.users[c.commenter].avatar}}"
        comment="{{c.comment}}">
      </nn-comment>
      <nn-comment-form class="nn-badge comment list-item__comment"
        data="vm.currentObservation"
        context="observations">
      </nn-comment-form>
    </section>

  </div>

  <custom-marker ng-repeat="(id, pos) in vm.localObservationIds | limitTo: vm.maxPoints" position="{{pos}}">
    <div class="map-marker" ng-click="vm.select(id)"></div>
  </custom-marker>

</ng-map>