<a class="head-logo" href="/" ng-click="vm.toggleMap(false)">
</a>





<div class="head-menu">
  <div class="head-menu__list">
    <a class="head-menu__item item-explore"
      ng-click="vm.toggleMap()"
      ng-class="{'is-current': !!vm.isMapActive}"  href="#">Explore</a>
    <a class="head-menu__item"
      ng-repeat="r in vm.navRoutes"
      ng-class="vm.getClasses(r)"
      ng-bind-html="r.settings.content"
      ng-click="vm.toggleMap(false)"
      ui-sref="{{r.name}}">
    </a>
  </div>
  <div class="head-menu__foot" style="display: none">
    <!-- TODO: add reference to footer template here for mobile -->
  </div>
</div>

<div class="head-user">
  <div ng-hide="vm.isAuthenticated">
    <a class="button head-user__item button--join" href="#" ng-click="vm.showRegister()">Join</a>
    <a class="button head-user__item button--signin" href="#" ng-click="vm.showSignin()">Sign In</a>
  </div>
  <div ng-show="vm.isAuthenticated">
    <nn-badge class="nn-badge head-user__item nn-badge--header"
      avatar-url="{{$root.users[vm.userUid].avatar}}"
      title="Welcome, {{$root.users[vm.userUid].display_name}}"
      ng-click="vm.showPopup = !vm.showPopup">
    </nn-badge>
    <div class="head-dropdown" ng-show="vm.showPopup">
      <div class="head-dropdown__contents">
        <div class="head-dropdown__avatar" ng-style="{ 'background-image' : 'url(' + $root.users[vm.userUid].avatar + ')' }"></div>
        <div class="head-dropdown__text">{{$root.users[vm.userUid].display_name}}</div>
        <div class="head-dropdown__button button button--edit" ng-click="vm.showEdit()">Edit Profile</div>
        <div class="head-dropdown__button button button--signout" ng-click="vm.signOut()">Sign Out</div>
      </div>
    </div>
  </div>
</div>