<div class="overlay-partial">

  <div class="nn-modal -center" ng-click="$event.stopPropagation()">

    <header class="nn-modal__header">
      <nn-badge ng-if="item.submitter"
        class="nn-badge detail__user"
        title="{{$root.users[item.submitter].display_name}}" subtitle="{{formatDate(item.updated_at)}}"
        avatar-url="{{avatarUrl}}">
      </nn-badge>
      <nn-badge ng-if="item.observer"
        class="nn-badge detail__user"
        title="{{$root.users[item.observer].display_name}}" subtitle="{{formatDate(item.updated_at)}}"
        avatar-url="{{avatarUrl}}">
      </nn-badge>
      <a class="nn-modal__close" href="#" ng-click="hide()"></a>
    </header>

    <div class="detail">

      <nn-status class="detail__status" status="item.status"></nn-status>

      <div class="detail__header" ng-if="item.group" ng-switch="item.group">
        <div ng-switch-when="challenge">Design Challenge</div>
        <div ng-switch-default>Design Idea</div>
      </div>

      <div class="detail__description" ng-if="item.content">{{item.content}}</div>
      <div class="detail__description" ng-if="item.data.text">{{item.data.text}}</div>

      <img class="detail__image" src="{{item.icon_url | img_large }}" ng-if="item.icon_url"></img>
      <img class="detail__image" src="{{item.data.image | img_large }}" ng-if="item.data.image"></img>

      <nn-social-totals class="totals detail__totals" data="item" context="{{context}}" show-dislikes="context === 'ideas'"></nn-social-totals>

      <section class="detail__comments">

        <nn-comment class="comment detail__comment" ng-repeat="c in comments | orderBy: 'updated_at'"
          name="{{$root.users[c.commenter].display_name}}"
          date="{{c.updated_at}}"
          avatar-url="{{$root.users[c.commenter].avatar}}"
          comment="{{c.comment}}">
        </nn-comment>

        <nn-comment-form class="nn-badge comment list-item__comment"
          data="item"
          context="{{context}}">
        </nn-comment-form>

      </section>
    </div>

  </div>
</div>