<div class="modal-dialog -center-nav" ng-class="{show:show, hide:!show  }" data-backdrop="true">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="hide()" aria-hidden="true">&times;</button>

      <div class="modal-title">
        <nn-badge style="inline"
          class="nn-badge detail__user"
          title="{{$root.users[idea.submitter].display_name}}" subtitle="{{formatDate(idea.created_at)}}"
          avatar-url="{{$root.users[idea.submitter].avatar}}">
        </nn-badge>
        <nn-status class="detail__status" idea_="idea" cache_="cache" item="isEditMode"></nn-status>

        <div class="detail__header" ng-if="idea.type">{{idea.type}}</div>
      </div>

    </div>

    <div class="modal-body">

      <textarea ng-if="isEditMode" class="detail__description" ng-model="cache.content"></textarea>

      <div ng-if="!isEditMode" class="detail__description" ng-if="idea.content">{{idea.content}}</div>

      <img class="detail__image" src="{{idea.icon_url | img_large }}" ng-if="idea.icon_url"></img>

      <nn-social-totals class="totals detail__totals" data="idea" context="ideas" show-dislikes="true"></nn-social-totals>

      <div ng-if="!isEditMode" style="display:inline; float:right;">
        <input ng-if="editable"
          class="button button--edit"
          ng-click="edit()"
          value="edit"
          type="submit" />
        <input ng-if="editable"
          class="button button--delete"
          ng-click="delete()"
          value="delete"
          type="submit" />
      </div>
      <div ng-if="isEditMode" style="display:inline; float:right;">
        <input class="button button--cancel"
          ng-click="cancel()"
          value="cancel"
          type="submit" />
        <input class="button button--save"
          ng-click="saveChanges()"
          value="save"
          type="submit" />
      </div>
    </div>

    <div class="modal-footer">
      <section align = "left" class="detail__comments">

        <nn-comment class="comment detail__comment" ng-repeat="c in comments | orderBy: 'updated_at'"
          name="{{$root.users[c.commenter].display_name}}"
          date="{{c.updated_at}}"
          avatar-url="{{$root.users[c.commenter].avatar}}"
          comment="{{c.comment}}">
        </nn-comment>

        <nn-comment-form class="nn-badge comment list-item__comment"
          data="idea"
          context="ideas">
        </nn-comment-form>

      </section>
    </div>

  </div><!-- /.modal-content -->
</div>
<div style="height:100px;"></div>
