  <div class="modal-dialog" ng-class="{show:show, hide:!show}" data-backdrop="true">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="hide()" aria-hidden="true">&times;</button>
        <div class="modal-title">
          <section class="main__section masthead">
            <header class="masthead__header">
              <div class="masthead__avatar"
                style="background-image: url('{{url}}')">
              </div>
              <div class="masthead__title">{{title}}</div>
            </header>
            <div class="masthead__text">{{description}}</div>
          </section>
        </div>
      </div>
      <div class="modal-body">
        <section class="main__section recent-contributions">
          <div class="main__subtitle">Recent Contributions</div>
          <nn-observations-list observations="observations" limit="9" expandable="true"></nn-observations-list>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="show=false" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
