<!-- <nn-status class="status"> -->


<div ng-if="item" class="status">
  <div class="status__text">
    <select ng-model="cache_.status">
      <option value="{{option.val}}" ng-repeat="option in options">{{option.lab}}</option>
    </select>
  </div>
</div>


<div ng-if="!item" ng-switch on="idea_.status">
  <!-- Doing (Discussing) -->
  <div class="status status__discussing" ng-switch-when="doing">
    <div class="status__text">
      <p class="status__title">Discussing</p>
    </div>
    <div class="status__icon"
      style="background-image: url('images/discussing.png')">
    </div>
  </div>
  <!-- Developing -->
  <div class="status status__discussing" ng-switch-when="developing">
    <div class="status__text">
      <p class="status__title">Developing</p>
    </div>
    <div class="status__icon"
      style="background-image: url('images/developing.png')">
    </div>
  </div>
  <!-- Testing -->
  <div class="status status__discussing" ng-switch-when="testing">
    <div class="status__text">
      <p class="status__title">Testing</p>
    </div>
    <div class="status__icon"
      style="background-image: url('images/testing.png')">
    </div>
  </div>
  <!-- Superceded -->
  <div class="status status__discussing" ng-switch-when="superceded">
    <div class="status__text">
      <p class="status__title">Superceded</p>
    </div>
    <div class="status__icon"
      style="background-image: url('images/completed.png')">
    </div>
  </div>
  <!-- Completed -->
  <div class="status status__completed" ng-switch-when="done">
    <div class="status__text">
      <p class="status__title">Done</p>
    </div>
    <div class="status__icon"
      style="background-image: url('images/completed.png')">
    </div>
  </div>
  <div class="status status_discussing" ng-switch-default>
    <div class="status__text">
      <p class="status__title">Discussing</p>
    </div>
    <div class="status__icon"
      style="background-image: url('images/discussing.png')">
    </div>
  </div>
</div>
