<div class="detailBox">
	<div class="titleBox"> 
		<label><h5>Comments</h5> </label> 
	</div>
	<div class="actionBox"> 
		<ul class="commentList">
			<div ng-if="obs.feedbacks.length <= 1">No comments.</div>
			<li ng-repeat="feedback in obs.feedbacks" ng-if="!$first"> 
				<div class="commentText">
					<em>{{ feedback.content }}</em>
					<span class="date sub-text">
					<h5> commented by: {{ feedback.account.username }} on {{ feedback.created_at | date}}</h5>
					</span>
				</div>
			</li>
			<strong><a href="#/observation/{{obs.id}}">Leave a comment</a></strong>
		</ul>
	<!--<form class="form-inline" role="form"> 
		<div class="form-group"> 
		<input class="form-control" type="text" placeholder="Your comments" ng-model="comment" ng-value="comment"> </div> 
		<div class="form-group"> 
		<button class="btn btn-default btn-add-comment" ng-click="addComment()">Submit</button> 
		</div>
	</form>
	<div class="alert alert-warning alert-dismissible" ng-show="showAlert" role="alert"> 
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Warning!</strong> You need to sign in to leave a comment. 
	</div>
	-->
	</div> 
</div> 