
<div class="container designs"> 
	<div class="row"> 
		<div class="col-md-1 col-md-offset-2"> 
			<i class="fa fa-3x fa-spinner fa-pulse" ng-show="loading"></i> 
		</div> 
		<div class="col-md-7"> 
			<div class="alert alert-warning alert-dismissible" ng-show="showAlert" role="alert"> 
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button> <strong>Warning!</strong> You need to sign in to leave a comment. 
			</div> 
        <form class="form-horizontal">
        <li class="radio" ng-repeat="prompt in prompts">
            <label>
                <input type="radio" name="contextRadios" ng-model="$parent.selectedPrompt" ng-value="prompt">
                {{prompt.name}}
            </label>
        </li>
        <textarea class="form-control" placeholder="{{selectedPrompt.text}}" rows="3" ng-model="designidea"></textarea> 
        <!-- <button class="btn btn-default btn-add-comment"  ng-click="addComment()">Submit</button> --> 
        <div role="form" class="btn-addidea-div pull-right">
            <button class="btn btn-default btn-add-idea form-control" ng-click="addIdea()">Submit</button> 
        </div> 
    </form>
		</div> 
	</div> 
	<div class="row">
		<div ng-if="designIdeas === undefined" class="col-md-offset-5 col-md-2">
			<img src="images/loading.gif">
		</div>
	</div>
	<div class="row" ng-repeat="designIdea in designIdeas"> 
		<div class="design-idea"> 
			<div class="col-md-1 col-md-offset-2" ng-click="likeIdea(designIdea)"> 
				<i class="fa fa-3x fa-thumbs-o-up"></i> 
				<p>{{ designIdea.likes}}</p><p> </p>
			</div> 
      <div class="col-md-7">
        <p class="lead">{{designIdea.context.title}}</p>
        <blockquote>{{ designIdea.content }}</blockquote>
				<div class="account"> submitted by <span class="name">{{designIdea.account.name}}</span> created on {{ designIdea.created_at | date }} modified on {{ designIdea.modified_at | date }} 
				</div> 
			</div> 
		</div> 
	</div> 
</div>