<!-- IdeasController as vm -->

<div class="sidebar sidebar--ideas">
  
  <header class="sidebar__header">
    <div class="dropdown dropdown--ideas" ng-class="{ 'dropdown--show-list': vm.group === 'idea' }">

      <div class="dropdown__display"
        ng-click="vm.group = 'idea'">
        <span>Design Ideas</span>
        <div class="dropdown__action"></div>
      </div>

      <div class="dropdown__options">

        <div class="list-item" ng-repeat="i in vm.ideas | orderBy: '-updated_at' | limitTo: vm.ideasDisplayLimit"
          ng-click="vm.selectIdea(i)">
          <nn-image class="list-item__image" image-url="{{}}">
          </nn-image>
          <div class="list-item__detail">
            <nn-comment class="comment list-item__comment"
              name="{{$root.users[i.submitter].display_name}}"
              date="{{i.updated_at}}"
              avatar-url="{{$root.users[i.submitter].avatar}}"
              comment="{{i.content}}">
            </nn-comment>
            <nn-social-totals class="totals" data="i" show-dislikes="true"></nn-social-totals>
          </div>
        </div>

        <div class="sidebar__see-more" ng-if="vm.ideas.length > vm.ideasDisplayLimit">
          <a href="#" ng-click="vm.ideasDisplayLimit = vm.ideasDisplayLimit + vm.sidebarDisplayLimit">Show More</a>
        </div>

      </div>

    </div>
  </header>

  <header class="sidebar__header">
    <div class="dropdown dropdown--challenges" ng-class="{ 'dropdown--show-list': vm.group === 'challenge' }">

      <div class="dropdown__display"
        ng-click="vm.group = 'challenge'">
        <span>Design Challenges</span>
        <div class="dropdown__action"></div>
      </div>

      <div class="dropdown__options">

        <div class="list-item" ng-repeat="c in vm.challenges | orderBy: '-updated_at' | limitTo: vm.challengesDisplayLimit"
          ng-click="vm.selectIdea(c)">
          <nn-image class="list-item__image" image-url="{{}}">
          </nn-image>
          <div class="list-item__detail">
            <nn-comment class="comment list-item__comment"
              name="{{$root.users[c.submitter].display_name}}"
              date="{{c.updated_at}}"
              avatar-url="{{$root.users[c.submitter].avatar}}"
              comment="{{c.content}}">
            </nn-comment>
            <nn-social-totals class="totals" data="c" show-dislikes="true"></nn-social-totals>
          </div>
        </div>

        <div class="sidebar__see-more" ng-if="vm.challenges.length > vm.challengesDisplayLimit">
          <a href="#" ng-click="vm.challengesDisplayLimit = vm.challengesDisplayLimit + vm.sidebarDisplayLimit">Show More</a>
        </div>

      </div>

    </div>
  </header>
  
</div>





<div class="main main--with-sidebar main--ideas">

  <section class="main__section masthead">
    <header class="masthead__header">
      <div class="masthead__avatar" style="background-size: cover; background-image: url('/images/design-ideas.png')"></div>
      <div class="masthead__title" ng-if="vm.group === 'idea'">Design Ideas</div>
      <div class="masthead__title" ng-if="vm.group === 'challenge'">Design Challenges</div>
    </header>
    <div class="masthead__text">
      <p class="masthead__description">
        Crowdsourcing design is a way for anyone to contribute to the NatureNet experience. Designers
        change the world and the NatureNet project gives everyone a chance to be a designer. Your
        design ideas can be a new way of using NatureNet in your community, and new to use mobile
        technology for learning about sustainability or changes in the environment, or a new feature
        on the web site.
      </p>
      <p class="masthead__directions" ng-if="vm.group === 'idea'">
        Join the discussion below with an idea or challenge of your own, comment on someone
        else's idea, or vote for your favorite idea.
      </p>
      
      <p class="masthead__directions" ng-if="vm.group === 'challenge'">
      Do you have a design challenge for the NatureNet communities? A design challenge is a question – for example:
      How can NatureNet be more useful for people with their own cameras?
      </p>
      <form class="masthead__form clearfix" ng-submit="vm.addIdea()">
        <label class="masthead__input"><input type="radio" ng-model="vm.group" value="idea" /> Design Idea</label>
        <label class="masthead__input"><input type="radio" ng-model="vm.group" value="challenge" /> Design Challenge</label>
        <div>
          <textarea class="masthead__textarea"
            placeholder="{{ vm.group === 'idea' ? 'Write a design idea...' : 'Write a design challenge...' }}"
            ng-model="vm.content">
          </textarea>
          <div class="add-me">Adding photos coming soon</div>
        </div>
        Choose Idea Type: <select ng-options="item for item in vm.ideaTypes" ng-model="vm.type" />
        <input class="button button--masthead" value="submit" type="submit" />
      </form>
    </div>

    <div ng-if="vm.selectedIdea && vm.showDetail">
        <nn-detail item="vm.selectedIdea" comments="vm.comments" context="ideas" show="vm.showDetail"></nn-detail>
    </div>
  </section>

</div>