/* Detail
   ========================================================================== */

   .detail__status {
     float: right;
   }

   .detail__description {
     display: inline-block;
     width: 100%;
     resize: vertical;
     margin-bottom: 1em;
     white-space: pre-wrap;
   }

    .detail {
      background-color: #E9EAEE;
      padding: 1em;

      width: 100%;
      height: 100%;
      overflow-y: auto;

      .detail__header {
        display: block;
        font-size: @font-size-title;
        font-weight: bold;
        margin: 1em 0;
      }

      .detail__image {
        display: block;
        padding: 1em 0;
        margin: 0 auto;
        max-width: 800px;
        max-height: 450px;
      }

      .detail__download {
        display: flex;
        width: 100%;
        margin-bottom: 1em;
        flex-direction: column;
        align-items: center;
      }

      .detail__totals {
        display: inline-block;
      }

      .detail__comments {
        border-top: 1px solid;
        padding-top: 30px;
        margin-top: 30px;
      }

    }
