/* Button
   ========================================================================== */

    .button {
      padding: 13px 30px;

      color: white;
      font-size: @font-size-content;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;

      background-position: 0.5em 50%;
      background-repeat: no-repeat;
      background-size: 1em;
      background-color: @light-green;
      border: 0px;

      &:hover {
        color: initial;
        text-decoration: none;
      }

      &.button--dark {
        background-color: @dark-blue;
        margin: 0.5em;
        font-weight: bold;

        &:hover {
          color: initial;
          background-color: @light-green;
        }
      }

      &.button--join {
        color: white;
        background-color: transparent; }

      &.button--explore {
        color: white;
        background-image: url('/images/explore.png');
        background-color: @dark-blue;

        &:hover {
          background-color: @light-green;
        }
      }

      &.button--projects {
        color: @dark-blue;
        background-image: url('/images/projects-dark.png');
        background-color: white;

        &:hover {
          color: white;
          background-image: url('/images/projects.png');
          background-color: @light-green;
        }
      }

      &.button--contributions {
        color: white;
        background-image:  url('/images/add-photo.png');
        background-color: @dark-blue;

        &:hover {
          background-color: @light-green;
        }
      }

      &.button--communities {
        color: @dark-blue;
        background-image: url('/images/communities-dark.png');
        background-color: white;

        &:hover {
          color: white;
          background-image:  url('/images/communities.png');
          background-color: @light-green;
        }
      }

      &.button--ideas {
        color: white;
        background-image: url('/images/ideas.png');
        background-color: @dark-blue;

        &:hover {
          background-color: @light-green;
        }
      }

      &.button--signin {
        padding-left: 54px;
        margin-right: 45px;

        background-image: url('/images/signin.png');
        background-position: 30px 50%;
        background-repeat: no-repeat;
        background-size: 18px; }

      &.button--signout {
        margin-top: 0.5em;
      }

      &.button--edit {
        color: @light-green;
        background-color: transparent;
        text-align: left;
        padding: 0;
        margin: 0.5em 0;
      }

      &.button--cancel {
        color: #cc0000;
        background-color: transparent;
        text-align: left;
        padding: 0;
        margin: 0.5em 1em;
      }

      &.button--save {
        color: @light-green;
        background-color: transparent;
        text-align: left;
        padding: 0;
        margin: 0.5em 1em;
      }

      &.button--edit {
        background-color: transparent;
        text-align: left;
        padding: 0;
        color: rgb(77, 178, 106);
      }

      &.button--delete {
        color: #cc0000;
        background-color: transparent;
        text-align: left;
        padding: 0;
        margin: 0.5em 1em;
      }

      &.button--joinnow {
        background-image: url("/images/join-banner.png");
        background-repeat: no-repeat;
        background-size: 614px 102px;
        display: inline-block;
        text-align: center;
        margin-top: 1em;
        min-height: 102px;
        min-width: 614px;
      }

      &.button--inline {
        display: inline;
        float: left;
        padding-left: 54px;
        margin-right: 18px;
        background-image: url('/images/signin.png');
        background-position: 30px 50%;
        background-repeat: no-repeat;
        background-size: 18px;
      }

    }
