/* Pixels

   A collection of variables used to store the default dimensions of all the
    blocks and components used to create the layout of NatureNet.
   ========================================================================== */

  @page-head-height: 102px;
  @page-foot-height: 0px;

  @head-logo-width: 320px;
  @head-menu__item-width: 121px;
  @head-user-width: 312px;

  @btn-margin-tb: 0;
  @btn-margin-lr: 3px;
  @btn-padding-tb: 2px;
  @btn-padding-lr: 17px;

  @badge-avatar-size: 45px;
  @status-icon-size: 30px;

  @font-size-header: 20px;
  @font-size-title: 16px;
  @font-size-content: 14px;
  @font-size-embed: 11px;

  @phone-template-height: 500px;
  @phone-template-width: 250px;

  @phone-screen-height: 356px;
  @phone-screen-width: 200px;
  @phone-screen-top: 72px;
  @phone-screen-left: 26px;
