/* Pixels

   A collection of variables used to store the default dimensions of all the 
    blocks and components used to create the layout of NatureNet.
   ========================================================================== */

  @page-head-height: 102px;
  @page-foot-height: 0px;

  @head-logo-width: 458px;
  @head-menu__item-width: 121px;
  @head-user-width: 312px;

  @btn-margin-tb: 0;
  @btn-margin-lr: 3px;
  @btn-padding-tb: 2px;
  @btn-padding-lr: 17px;