<!-- CommunitiesController as vm -->

<div class="sidebar sidebar--communities">

  <header class="sidebar__header sidebar__header--people">
    <div class="dropdown dropdown--people" ng-class="{ 'dropdown--show-list': !!vm.isPeopleListVisible }">

      <div class="dropdown__display"
        ng-click="vm.isPeopleListVisible = !vm.isPeopleListVisible">
        <span>People</span>
        <div class="dropdown__action"></div>
      </div>

      <div class="dropdown__options">

        <div class="dropdown__option">
          <form>
            <input class="dropdown__input" type="text" placeholder="search" ng-model="vm.query">
          </form>
        </div>

        <div class="dropdown__option"
          ng-repeat="u in vm.users | filter:{ display_name:vm.query } | orderBy: '-created_at' | orderBy: '-latest_contribution' | emptyToEnd: 'latest_contribution' | limitTo: vm.peopleDisplayLimit"
          ng-click="vm.updateUserId(u.id)">
          <nn-badge class="badge"
            title="{{u.display_name}}"
            subtitle="{{vm.sites[u.affiliation].name}}"
            avatar-url="{{u.avatar}}">
          </nn-badge>
        </div>

        <div class="sidebar__see-more" ng-if="vm.users.length > vm.peopleDisplayLimit">
          <a href="#" ng-click="vm.showMore()">Show More</a>
        </div>

      </div>

    </div>
  </header>



  <header class="sidebar__header sidebar__header--groups">
    <div class="dropdown dropdown--groups" ng-class="{ 'dropdown--show-list': !!vm.isGroupsListVisible }">

      <div class="dropdown__display"
        ng-click="vm.isGroupsListVisible = !vm.isGroupsListVisible">
        <span>Groups</span>
        <div class="dropdown__action"></div>
      </div>

      <div class="dropdown__options">

        <!-- TODO: add ng-click to above markup for displaying groups -->
        <div class="dropdown__option"
          ng-repeat="g in vm.groups | orderBy: '-updated_at' | limitTo: vm.groupsDisplayLimit"
          ng-click="vm.updateGroupId(g.id)">
          <nn-badge class="badge"
            title="{{g.name}}"
            subtitle="{{vm.sites[g.affiliation].name}}"
            avatar-url="{{g.avatar}}">
          </nn-badge>
        </div>

        <div class="sidebar__see-more" ng-if="vm.groups.length > vm.groupsDisplayLimit">
          <a href="#" ng-click="vm.groupsDisplayLimit = vm.groupsDisplayLimit + vm.sidebarDisplayLimit">Show More</a>
        </div>

      </div>

    </div>
  </header>

</div>

<div class="main main--with-sidebar main--communities" ng-show="vm.userId" ng-include="'app/communities/user.html'"></div>

<div class="main main--with-sidebar main--communities" ng-show="vm.groupId" ng-include="'app/communities/group.html'"></div>

</div>