<section class="main__section masthead">
  <header class="masthead__header">

    <nn-badge class="nn-badge nn-badge--banner"
      title="{{$root.users[vm.userId].display_name}}"
      subtitle="{{vm.userSite}}"
      avatar-url="{{vm.userAvatar}}">
    </nn-badge>
  </header>

  <div class="masthead__text">{{$root.users[vm.userId].bio}}</div>
</section>



<section class="main__section recent-contributions">
  <div class="main__subtitle">Recent Contributions by {{$root.users[vm.userId].display_name}}</div>
  <nn-observations-list observations="vm.observations[vm.userId]" limit="{{vm.mainDisplayLimit}}" expandable="true"></nn-observations-list>
  <nn-ideas-list ideas="vm.ideas[vm.userId]" limit="{{vm.mainDisplayLimit}}" expandable="true"></nn-ideas-list>
</section>



<section class="main__section main__section--groups">
  <div class="main__subtitle">Groups</div>
  <div class="main__groups">
    <nn-badge class="nn-badge nn-badge--large clickable"
      ng-if="vm.userGroups.length > 0"
      ng-repeat="g in vm.userGroups | orderBy: '-updated_at' | limitTo: vm.groupsDisplayLimit"
      title="{{g.name}}"
      avatar-url="{{g.avatar}}"
      ng-click="vm.updateGroupId(g.id)">
      <!-- TODO: once roles are sorted out add subtitle="{{g.role}}" -->
    </nn-badge>
    <div ng-if="vm.userGroups.length === 0">No groups.</div>
  </div>

  <div class="" ng-if="vm.userGroups.length > vm.groupsDisplayLimit">
    <a href="#" ng-click="vm.groupsDisplayLimit = vm.groupsDisplayLimit + vm.mainDisplayLimit">Show More</a>
  </div>
</section>