<section class="main__section masthead">
  <header class="masthead__header">

    <!--<nn-badge class="nn-badge nn-badge--large"
      title="{{$root.users[vm.userId].display_name}}"
      subtitle="{{vm.userSite}}"
      avatar-url="{{vm.userAvatar}}">
    </nn-badge>-->

    <div class="masthead__avatar"
      ng-style="{ 'background-image' : 'url(' + vm.userAvatar + ')' }">
    </div>
    <div class="masthead__title">{{$root.users[vm.userId].display_name}}</div>
  </header>

  <div class="masthead__text">{{vm.userSite}}</div>

  <!--<div class="masthead__text">Groups
    <p ng-if="!vm.userGroups">No Groups</p>
    <ul>
      <li ng-repeat="g in vm.userGroups">{{vm.groups[g].name}}</li>
    </ul>
  </div>-->

  <div class="masthead__text">{{$root.users[vm.userId].bio}}</div>
</section>



<section class="main__section recent-contributions">
  <div class="main__subtitle">Recent Contributions by {{$root.users[vm.userId].display_name}}</div>
  <nn-observations-list observations="vm.observations[vm.userId]" limit="{{vm.mainDisplayLimit}}" expandable="true"></nn-observations-list>
</section>



<section class="main__section main__section--groups">
  <div class="main__subtitle">Groups</div>
  <div class="main__groups">
    <nn-badge class="nn-badge nn-badge--large clickable"
      ng-if="vm.userGroups.length > 0"
      ng-repeat="g in vm.userGroups | orderBy: '-updated_at' | limitTo: vm.groupsDisplayLimit"
      title="{{g.name}}"
      avatar-url="{{g.avatar}}"
      ng-click="vm.updateGroupId(g.id)">
      <!-- TODO: once roles are sorted out add subtitle="{{g.role}}" -->
    </nn-badge>
    <div ng-if="vm.userGroups.length === 0">No groups.</div>
  </div>

  <div class="" ng-if="vm.userGroups.length > vm.groupsDisplayLimit">
    <a href="#" ng-click="vm.groupsDisplayLimit = vm.groupsDisplayLimit + vm.mainDisplayLimit">Show More</a>
  </div>
</section>