

<form class="form-horizontal" novalidate ng-submit="vm.apply()">

  <div style="padding-top: 15px;" class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-fw fa-user"></i>
    </span>
    <input class="form-control"
    required
    placeholder="Username"
    type="text"
    ng-model="vm.name" />
  </div>

  <div style="padding-top: 15px;" class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-fw fa-id-card"></i>
    </span>
    <input class="form-control"
    required
    placeholder="Real Name (private)"
    type="text"
    ng-model="vm.realname" />
  </div>

  <div style="padding-top: 15px;" class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-fw fa-info"></i>
    </span>
    <input class="form-control"
    required
    placeholder="Describe yourself"
    type="text"
    ng-model="vm.bio" />
  </div>

  <div style="padding-top: 15px;" class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-fw fa-map-marker"></i>
    </span>
    <select class="form-control"
      required
      placeholder="Site Affiliation"
      ng-model="vm.affiliation"
      ng-options="s.name for s in vm.sites" >
      <option disabled selected hidden value="">Site Affiliation</option>
    </select>
  </div>

  <label style="padding-top:15px;">Groups</label>
  <div  ng-repeat="g in vm.groups">
    <div class="row" ng-if="$even">
       <div class="col-sm-offset-2 col-xs-5">
         <input type="checkbox"
            ng-hide="vm.groups[$index].id == null"
            ng-model="vm.membership[vm.groups[$index].id]">&nbsp;<span>{{vm.groups[$index].name}}</span>
      </div>
      <div class="col-xs-5">
        <input type="checkbox"
          ng-hide="vm.groups[$index + 1].id == null"
          ng-model="vm.membership[vm.groups[$index + 1].id]">&nbsp;<span>{{vm.groups[$index + 1].name}}</span>
      </div>
    </div>
  </div>

  <h2 style="font-size: 1.5em; padding-top:40px; text-align: center;">
    Optional. This data will be visible to researchers only.
  </h2>

  <div class="auth__form">
    <div class="auth__form">

      <h3 style="padding-top:15px;">What is your age range?</h3>
      <select class="form-control"
        required
        placeholder="Age"
        ng-model="vm.age"
        ng-options="a for a in vm.ageOptions" >
        <option disabled selected hidden value="">Age</option>
      </select>

      <h3 style="padding-top:15px;">What is your gender?</h3>
      <select class="form-control"
        required
        placeholder="Gender"
        ng-model="vm.gender"
        ng-options="g for g in vm.genderOptions" >
        <option disabled selected hidden value="">Gender</option>
      </select>
    </div>

    <!--div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Option one is this and that&mdash;be sure to include why it's great
      </label>
    </div-->

      <h3>What is your primary racial identity?</h3>
      <div ng-repeat="r in vm.raceOptions">
        <input
          type="checkbox"
          ng-model="vm.race[r]">
        </input>
        {{r}}
      </div>
  </div>

  <div style="text-align:center;" class="row">
    <input class="button button--auth"
      value="apply"
      type="submit" />
  </div>

</form>
