<form class="auth__form auth__form--register"
  ng-submit="vm.join(vm.email, vm.password)">

  <div class="auth__text">
    Join NatureNet today!
  </div>

  <div style="margin-bottom: 30px; line-height: 1.4;">
      <!-- TODO: determine approach for consent. this is placeholder text. -->
  </div>

  <input class="auth__field"
    placeholder="Username"
    type="text"
    ng-model="vm.name" />

  <input class="auth__field"
    placeholder="password"
    type="password"
    ng-model="vm.password" />

  <input class="auth__field"
    placeholder="Name"
    type="text"
    ng-model="vm.realname" />

  <input class="auth__field"
    placeholder="email"
    type="text"
    ng-model="vm.email" />

  <select class="auth__field"
    placeholder="Affiliation"
    type="text"
    ng-model="vm.affiliation"
    ng-options="s.name for s in vm.sites" />

  <input class="button button--auth"
    value="join"
    type="submit" />

</form>