
<div class="modal-dialog -center-nav"  ng-click="$event.stopPropagation()" data-backdrop="true">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">&times;</button>
      <div class="modal-title">

        <form class="auth__form auth__form--signin"
          ng-submit="vm.login(vm.email, vm.password)">

          <!-- TODO: placeholder logo until correct is available
            check _layout.auth.less -->

          <div class="auth__logo"></div>

          <input class="form-control"
            placeholder="email"
            type="text"
            ng-model="vm.email" />

          <input class="form-control"
            placeholder="password"
            type="password"
            ng-model="vm.password" />

          <p class="auth__reset" ng-click="vm.reset()">Reset my password</p>

          <input style="width:100%;" class="button"
            value="sign in"
            type="submit" />


          <div ng-click="vm.loginGoogle()" class="btn btn-default">
            <img style="margin-right: 25px; vertical-align: middle;" width="15px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
            Login with Google
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
