<!-- HomeController as vm -->

<div class="home-content">
  <div class="content content--what">
    <div class="content__image"></div>
    <div class="content__text">
      <h1 class="content__title">What is NatureNet?</h1>
      <h2 class="content__subtitle">A community of citizen environmentalists whose members keep making it better.</h2>
      <div class="content__description">
          <p>NatureNet is a community of citizen environmentalists whose members keep making it better. Active sites include the Anacostia Watershed in Washington, D.C. and Maryland, Reedy Creek Nature Center in Charlotte, North Carolina, Aspen Center for Environmental Studies in Aspen, Colorado, and your backyard!</p>
          <br>
          <p class="content__lineitem">LEARN about nature in your community</p>
          <p class="content__lineitem">SHARE your observations and ideas</p>
          <p class="content__lineitem">SHAPE nature projects in your local community</p>
          <p class="content__lineitem">DESIGN this nature technology with your community</p>
          <br>
          <p>This project is supported by the National Science Foundation under Grant No.  IIS-1221513 and Grant No. 1423212 to the University of North Carolina at Charlotte, Grant No. 1423207 to the University of Maryland, and Grant No. 1423338 to the University of Colorado.</p>
      </div>
    </div>
  </div>
  <div class="content content--why">
    <div class="content__image"></div>
    <div class="content__text">
      <h1 class="content__title">Why join NatureNet?</h1>
      <p class="content__description">
        Do you want to participate in a biodiversity-preserving project in your area?  Or do you have an idea for a new project and want to get a community behind you?  Join NatureNet today, and don’t just be a voice in the crowd: be part of a crowd with a voice!
      </p>
    </div>
  </div>
    <div ng-controller="HeaderController as vm">
    <center>
  <div ng-hide="vm.isAuthenticated">
    <a class="button button--joinnow" href="#" ng-click="vm.showRegister()">Join NatureNet Today</a>
  </div>
    </center>
    </div>
</div>


<div class="home-items">

  <ul class="items items--observations">
    <li class="items__group">Recent Observations</li>

    <li class="item"
      ng-repeat="o in vm.observations | orderBy: '-updated_at' | limitTo: vm.observationsDisplayLimit"
      ng-click="vm.showObservation(o)">
      <nn-badge class="badge item__user"
        title="{{$root.users[o.observer].display_name}}"
        subtitle="{{vm.formatDate(o.updated_at)}}"
        avatar-url="{{$root.users[o.observer].avatar}}">
      </nn-badge>
      <nn-social-totals class="item__totals totals -centerv" data="o">
      </nn-social-totals>
    </li>

    <li class="items__action" ng-if="vm.observations.length > vm.observationsDisplayLimit">
      <a href="#" ng-click="vm.observationsDisplayLimit = vm.observationsDisplayLimit + 5">Show More</a>
    </li>
  </ul>



  <ul class="items items--ideas">
    <li class="items__group">Recent Design Ideas</li>

    <li class="item" ng-repeat="i in vm.ideas | orderBy: '-updated_at' | limitTo: vm.ideasDisplayLimit">
      <nn-badge class="badge item__user"
        title="{{$root.users[i.submitter].display_name}}"
        subtitle="{{vm.formatDate(i.updated_at)}}"
        avatar-url="{{$root.users[i.submitter].avatar}}">
      </nn-badge>
      <nn-social-totals class="item__totals totals -centerv" data="i" show-dislikes="true">
      </nn-social-totals>
    </li>

    <li class="items__action" ng-if="vm.ideas.length > vm.ideasDisplayLimit">
      <a href="#" ng-click="vm.ideasDisplayLimit = vm.ideasDisplayLimit + 5">Show More</a>
    </li>
  </ul>

</div>

<div class="home-footer">
    <ul class="footer-items">
      <li><a href="http://www.uncc.edu" target="_blank">University of North Carolina Charlotte</a></li>
      <li><a href="http://www.colorado.edu" target="_blank">University of Colorado Boulder</a></li>
      <li><a href="http://www.umd.edu" target="_blank">University of Maryland College Park</a></li>
    </ul>
</div>