<!-- HomeController as vm -->
<div style="position:relative;width:100%;height:100%;">
  <div class="scroller">
    <section class="home__page page--intro container-fluid" id="intro">
      <div class="page__content col-xs-12 col-md-7 col-md-offset-1">
        <div class="row content-row">
          <div class="col-xs-4">
            <div class="homepage-icon icon-phone"></div>
          </div>
          <div class="col-xs-8 content-col">
            <div class="h1 center-block">Get NatureNet now!</div>
            <div style="display: block;">
              <a target="_blank" href="https://itunes.apple.com/us/app/naturenet/id1104382694?mt=8"
                style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;margin:10px 0;"></a>
              <a target="_blank" href='https://play.google.com/store/apps/details?id=org.naturenet&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img alt='Get it on Google Play' src='images/google-play-badge.png' style="height:60px;"/>
              </a>
            </div>
          </div>
        </div>
        <div class="row content-row">
          <div class="col-xs-4">
            <div class="homepage-icon icon-tree"></div>
          </div>
          <div class="col-xs-8 content-col">
            <div class="h1 center-block">Contribute to NatureNet</div>
            <a href="#intro" ng-click="vm.showMap()" class="page__goto button button--explore">Explore</a>
            <a href="#projects" class="page__next dark"></a>
          </div>
        </div>
      </div>
      <div class="page__preview hidden-xs hidden-sm col-md-4">
        <div class="phone__template">
          <div style="background:no-repeat 100%/100% url('/images/ss-obs-android.png')"></div>
        </div>
      </div>
    </section>
    <section class="home__page dark page--projects container-fluid" id="projects">
        <div class="page__content col-xs-12 col-md-4 col-md-offset-2">
          <div class="page__title">
            <h1>Join a citizen science project</h1>
          </div>
          <div class="page__blurb">
            <p>
              Help collect information about the environment. Select a topic from the list and contribute photos and descriptions directly from your phone through the NatureNet app.
            </p>
          </div>
          <a href="/projects" class="page__goto button button--projects">Projects</a>
          <a href="#contributions" class="page__next"></a>
        </div>
        <div class="page__preview hidden-xs hidden-sm col-md-4">
          <div class="phone__template">
            <div style="background:no-repeat 100%/100% url('/images/ss-project-list-ios.png')"></div>
          </div>
        </div>
    </section>
    <section class="home__page page--contributions container-fluid" id="contributions">
        <div class="page__content col-xs-12 col-md-4 col-md-offset-2">
          <div class="page__title">
            <h1>Make your contribution</h1>
          </div>
          <div class="page__blurb">
            <p>
              You can also upload your photos and descriptions to the nature-net.org website and comment on others you see there.
            </p>
          </div>
          <a href="/contributions" class="page__goto button button--contributions">Contributions</a>
          <a href="#communities" class="page__next dark"></a>
        </div>
        <div class="page__preview hidden-xs hidden-sm col-md-4">
          <div class="phone__template">
            <div style="background:no-repeat 100%/100% url('/images/ss-obs-ios.png')"></div>
          </div>
        </div>
    </section>
    <section class="home__page dark page--communities container-fluid" id="communities">
        <div class="page__content col-xs-12 col-md-4 col-md-offset-2">
          <div class="page__title">
            <h1>Find a friend</h1>
          </div>
          <div class="page__blurb">
            <p>
              Connect with others who share your interests in a topic, a place, or an activity. Share tips, tools, and techniques for learning about and preserving the environment.
            </p>
          </div>
          <a href="/communities" class="page__goto button button--communities">Communities</a>
          <a href="#ideas" class="page__next"></a>
        </div>
        <div class="page__preview hidden-xs hidden-sm col-md-4">
          <div class="phone__template">
            <div style="background:no-repeat 100%/100% url('/images/ss-user-list-ios.png')"></div>
          </div>
        </div>
    </section>
    <section class="home__page page--ideas container-fluid" id="ideas">
        <div class="page__content col-xs-12 col-md-4 col-md-offset-2">
          <div class="page__title">
            <h1>Be a part of the design</h1>
          </div>
          <div class="page__blurb">
            <p>
              Share your ideas for new nature and environmental stewardship projects. Share your suggestions for improving the NatureNet mobile phone app and website.
            </p>
          </div>
          <a href="/ideas" class="page__goto button button--ideas">Design Ideas</a>
          <a href="#summary" class="page__next dark"></a>
        </div>
        <div class="page__preview hidden-xs hidden-sm col-md-4">
          <div class="phone__template">
            <div style="background:no-repeat 100%/100% url('/images/ss-idea-list-ios.png')"></div>
          </div>
        </div>
    </section>
    <section class="home__page page--summary container-fluid" id="summary">
      <div class="h1 center-block">
        Explore NatureNet
      </div>
      <div class="row content-row" style="text-align: center;align-items:flex-end;">
        <div class="col-xs-6 col-md-2 col-md-offset-1 home-action-hover">
          <div class="homepage-icon icon-explore"></div>
          <div>Contribute to NatureNet</div>
          <a href="#summary" ng-click="vm.showMap()" class="button button--dark">Explore</a>
        </div>
        <div class="col-xs-6 col-md-2 home-action-hover">
          <div class="homepage-icon icon-projects"></div>
          <div>Join a citizen science project</div>
          <a href="/projects" class="button button--dark">Projects</a>
        </div>
        <div class="col-xs-6 col-md-2 home-action-hover">
          <div class="homepage-icon icon-ideas"></div>
          <div>Be a part of the design</div>
          <a href="/ideas" class="button button--dark">Design Ideas</a>
        </div>
        <div class="col-xs-6 col-md-2 home-action-hover">
          <div class="homepage-icon icon-communities"></div>
          <div>Find a friend</div>
          <a href="/communities" class="button button--dark">Communities</a>
        </div>
        <div class="col-xs-6 col-md-2 home-action-hover">
          <div class="homepage-icon icon-contributions"></div>
          <div>Make your contribution</div>
          <a href="/contributions" class="button button--dark">Contributions</a>
        </div>
      </div>
    </section>
  </div>
</div>