<!-- HomeController as vm -->

<div class="home-content">

  <div class="home-intro">

    <div class="home-boxes">
      <div class="boxes--upper">
        <div class="box--upper-left">
          <div class="box__text" style="text-align: right;">
            <span class="box__label inline-icon icon--large icon--learn">Explore:</span> Learn about nature in your area
          </div>
          <nn-image class="box__image" image-url="https://res.cloudinary.com/university-of-colorado/image/upload/t_web-feature/v1471987089/static/learn.jpg"></nn-image>
        </div>
        <div class="box--upper-right">
          <nn-image class="box__image" image-url="https://res.cloudinary.com/university-of-colorado/image/upload/t_web-feature/v1471986856/static/share.jpg"></nn-image>
          <div class="box__text">
            <span class="box__label inline-icon icon--large icon--share">Communities:</span> Share your observations and ideas
          </div>
        </div>
      </div>
      <div class="boxes--lower">
        <div class="box--lower-left">
          <div class="box__text" style="text-align: right;">
            <span class="box__label inline-icon icon--large icon--shape">Projects:</span> Improve and shape sustainability initatives
          </div>
          <nn-image class="box__image" image-url="https://res.cloudinary.com/university-of-colorado/image/upload/t_web-feature/v1460772115/xkmtpemilwmse1gvxkgk.jpg"></nn-image>
        </div>
        <div class="box--lower-right">
          <nn-image class="box__image" image-url="https://res.cloudinary.com/university-of-colorado/image/upload/t_web-feature/v1469724921/irhlvtis18ibmmr1vhzi.jpg"></nn-image>
          <div class="box__text">
            <span class="box__label inline-icon icon--large icon--design">Design:</span> New ways to use NatureNet
          </div>
        </div>
      </div>
    </div>

  </div>

  <hr/>

  <div ng-controller="HeaderController as vm" ng-show="!vm.isAuthenticated" style="width: 100%; text-align: center;">
      <a class="button button--joinnow" href="#" ng-click="vm.showRegister()"></a>
  </div>

  <div class="content content--featured" ng-hide="true">
    <div class="content__text">
      <div class="content__title">Featured on NatureNet</div>
      <div class="featured">Observation</div>
      <div class="featured">Community</div>
      <div class="featured">Project</div>
      <div class="featured">Design Idea</div>
    </div>
  </div>

  <div class="content__footer">
    <p style="text-align: center; margin-bottom: 1em;">
      <a href="https://itunes.apple.com/us/app/naturenet/id1104382694?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;margin:10px 0;"></a>
      <a href='https://play.google.com/store/apps/details?id=org.naturenet&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='images/google-play-badge.png' style="height:60px;"/></a>
    </p>
    <p>
      <a class="button button--inline" href="mailto:{{vm.contactEmail | deobfuscate}}">Contact Us</a>
      NatureNet is a platform for sharing place-based nature observations and contributing design ideas. Please do NOT contribute photos of humans or pets. NatureNet is a moderated site. Postings that are inappropriate or irrelevant will be deleted.
      If you want one of your observations to be removed, please send an email to <a href="mailto:{{vm.contactEmail | deobfuscate}}"><span>{{vm.contactEmail | deobfuscate}}</span></a> with a description of the content you would like to be removed.
    </p>
  </div>

</div>


<div class="home-items">

  <ul class="items items--observations">
    <li class="items__group">Recent Observations</li>

    <li class="item"
      ng-repeat="o in vm.observations | orderBy: '-updated_at' | limitTo: vm.observationsDisplayLimit"
      ng-click="vm.showObservation(o)">
      <nn-badge class="badge item__user"
        title="{{$root.users[o.observer].display_name}}"
        subtitle="{{vm.formatDate(o.updated_at)}}"
        avatar-url="{{o.data.image | img_thumb}}">
      </nn-badge>
      <nn-social-totals class="item__totals totals -centerv" data="o">
      </nn-social-totals>
    </li>

    <li class="items__action" ng-if="vm.observations.length > vm.observationsDisplayLimit">
      <a href="#" ng-click="vm.observationsDisplayLimit = vm.observationsDisplayLimit + 5">Show More</a>
    </li>
  </ul>



  <ul class="items items--ideas">
    <li class="items__group">Recent Design Ideas</li>

    <li class="item" ng-repeat="i in vm.ideas | orderBy: '-updated_at' | limitTo: vm.ideasDisplayLimit">
      <nn-badge class="badge item__user"
        title="{{$root.users[i.submitter].display_name}}"
        subtitle="{{vm.formatDate(i.updated_at)}}"
        avatar-url="{{$root.users[i.submitter].avatar}}">
      </nn-badge>
      <nn-social-totals class="item__totals totals -centerv" data="i" show-dislikes="true">
      </nn-social-totals>
    </li>

    <li class="items__action" ng-if="vm.ideas.length > vm.ideasDisplayLimit">
      <a href="#" ng-click="vm.ideasDisplayLimit = vm.ideasDisplayLimit + 5">Show More</a>
    </li>
  </ul>

</div>

<div class="home-footer">
    <ul class="footer-items">
      <li><a href="http://www.uncc.edu" target="_blank">The University of North Carolina at Charlotte</a></li>
      <li><a href="http://www.colorado.edu" target="_blank">University of Colorado Boulder</a></li>
      <li><a href="http://www.umd.edu" target="_blank">University of Maryland, College Park</a></li>
      <li><a href="http://research.nature-net.org" target="_blank">NatureNet Research</a></li>
    </ul>
</div>