<div ng-cloak ng-show="obs" ng-non-bindable="">
	<h3><img ng-src='{{obs.context.extras.Icon}}' style="width:32px; height:32px"/>{{obs.context.title}}</h3>
	<div ng-repeat="bird in obs.content.Birds">
		<img ng-src="{{bird.image | thumb}}">
		<p>{{bird.name}}: {{bird.count}}</p>
	</div>
	<div ng-if="obs.medias">
		<a href="#/observation/{{obs.id}}"><img ng-repeat="m in obs.medias" ng-src="{{m.link | medium}}" /></a>
	</div>
	<p>by {{obs.account.username}} on {{obs.created_at | date: mediumDate }}</p>
</div>