<div class="row">
	<div class="col-md-4">
		<h1>NatureNet@ACES</h1>
	</div>
	<div class="col-md-4">
		<p class="nn-index-info">
			The NatureNet@ACES
		project is to help
		understand biodiversity
		at ACES</p>
	</div>
	<div style="vertical-align: middle;" class="col-md-4">
		<button type="button" style="font-size: 12pt;" class="btn btn-primary">Join NatureNet Today</button>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<carousel interval="5000">
	      <slide ng-repeat="slide in slides" active="slide.active">
	        <img ng-src="{{slide.image}}" style="margin:auto;">
	        <div class="carousel-caption">
	        </div>
	      </slide>
    </carousel>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<span>This project is about...</span>
		</div>
	</div>
</div>