<!-- ProjectsController as vm -->

<div class="sidebar sidebar--projects">

  <header class="sidebar__header sidebar__header--projects">
    <div class="nn-dropdown nn-dropdown--projects"
      ng-class="{ 'nn-dropdown--show-list': !!vm.isProjectsListVisible }">

      <div class="nn-dropdown__display"
        ng-click="vm.isProjectsListVisible = !vm.isProjectsListVisible">
        <span>Projects</span>
        <div class="nn-dropdown__action"></div>
      </div>

      <div class="nn-dropdown__options">
        <div class="sidebar__sub-header" ng-if="!!vm.localSite">Projects at {{vm.localSite}}</div>
        <div class="nn-dropdown__option"
          ng-if="!!vm.localProjects"
          ng-repeat="p in vm.localProjects | orderBy: '-latest_contribution'"
          ng-click="vm.updateProjectId(p.id)">
          <nn-badge class="nn-badge"
            title="{{p.name}}"
            subtitle=""
            avatar-url="{{p.icon_url}}">
          </nn-badge>
        </div>

        <div class="sidebar__sub-header">All Projects</div>
        <div class="nn-dropdown__option"
          ng-repeat="p in vm.projects | orderBy: '-latest_contribution'"
          ng-click="vm.updateProjectId(p.id)">
          <nn-badge class="nn-badge"
            title="{{p.name}}"
            subtitle=""
            avatar-url="{{p.icon_url}}">
          </nn-badge>
        </div>

      </div>

    </div>
  </header>

</div>


<div class="main main--with-sidebar main--projects">

  <nn-project-modal
    url="$root.projects[vm.projectId].icon_url"
    title="$root.projects[vm.projectId].name"
    description="$root.projects[vm.projectId].description"
    observations="vm.projectObservations"
    limit="vm.displayLimit"
    show="vm.show">
  </nn-project-modal>

</div>
